*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}
.top{
    /* height:25px;
    background: white; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.top .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 30px;
}
.top .container a{
    margin-right: 20px;
}
.fs{
    background-image: url('./img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -5;
}
.fs__img{
    border-radius: 50%;
    position: absolute;
    right: -150px;
    bottom: -230px;
    z-index: -4;
}
/* fs__header */
.fs__header{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    margin-top: 30px;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 20px;
    margin-left: 50px;
}
.nav a{
    font-family:'Mont ExtraLight DEMO', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 20px;
}
/* fs__content */
.fs__content{
    max-width: 737px;

}
.fs__title{
    margin-top: 100px;
    font-family: 'Lighthaus', sans-serif;
    font-weight: normal;
    font-size: 100px;
    line-height: 75%;
    color: white;
}
.fs__line{
    margin-top: 50px;
    border: 1px solid white;
    max-width: 600px;
}
.fs__text{
    margin-top: 40px;
    font-family:'Mont ExtraLight DEMO', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 48px;
    color: white;
}
.fs__price{
    font-family:'Mont ExtraLight DEMO', sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 96%;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.fs__price b{
    margin-left: 100px;
}
.btn{
    width: 327px;
    height: 50px;
    background-color: rgba(228,161,111,1);
    color: white;
    font-family: 'Mont ExtraLight DEMO', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 96%;
}
.fs__content button{
    margin-bottom: 40px;
}
.fs__name{
    position: absolute;
    z-index: -3;
    bottom: 0px;
    right: 0px;
    margin-left: 750px;
    font-family: Lighthaus;
    font-weight: normal;
    font-size: 160px;
    line-height: 75%;
    color: white;
    text-align: right;

}
.fs__machine{
    position: absolute;
    left: 450px;
    top: 120px;
    z-index: 1;
}
.fs__machine_b{
    position: absolute;
    width: 300px;
    height: 100px;
    left: 550px;
    top: 520px;
}